root = true
wrap_line_length = 120

[**.js]
indent_style = space
indent_size = 4
brace_style = collapse

[**.{json,gyp}]
indent_style = space
indent_size = 2

[**.jsx]
e4x = true
indent_style = space
indent_size = 4

[**.css]
indent_style = space
indent_size = 4

[**.html]
indent_style = space
indent_size = 4
brace_style = collapse

[**.yml]
indent_style = space
indent_size = 2
